.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

  @media screen and (max-width: 40em) {
    display: none;
  }
}


.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  @media screen and (max-width: 40em) {
    background: url('./homeBG.jpg') center #D3D0CD;
    background-size: cover;
  }
}

.home__title {
  border: 4px solid white;
  border-radius: 6px;
  color: white;
  padding: .7rem;  
  background-color: rgba(67, 39, 38, .7);
}


