.contact {
  padding: 1rem;
  margin: auto;
  text-align: center;
  max-width: 90%;
  @media screen and (min-width: 40em) {
    max-width: 50%;
  }
    
  @media screen and (min-width: 62em) {
    max-width: 40%;
  }
}

.contact__content {
  @media screen and (min-width: 66em) {
    padding-top: 2rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: auto;

  li {
    flex-basis: 20%;
    padding: .5em;
    @media screen and (min-width: 66em) {
      flex-basis: 13%;
  }

    img {
      width: 10vmin;
    }
  }
}
