.menu {
  background-color: #D3D0CD;

  //padding: 1rem;
}

.menu__list {  
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.menu-list__item {
 background-color: rgba(67, 39, 38, .3);
 //color: white;
 border-radius: 10px;
  border: 2px solid white;
h2 {
  margin-top: 0;
  //color: white;
}

padding: .5rem;
margin-bottom: 1rem;
  //background: black;

  //color: white;
/*  margin-bottom: 1rem;
  h2 {
    margin-left: 1rem;
  margin-right: 1rem;*/
  
  //border-bottom: 1px solid white;
}

.menu-list__content {
  /*display: flex;*/
  //border: 3px solid black;
  //background: #090909;
  //color: white;
  //padding: .5rem;
  p {
    margin: 0;
    font-size: 1.3rem;
  }
  img {
    border-radius: 10px;
  /*  display: none;*/
  height: 26vh;
  width: auto;
  border: 1px solid white;
    /* flex-basis: 40%;
  }
  p {
    flex-basis: 48%;
    font-size: 1.5rem;
  }
  justify-content: space-between;*/
  //align-items: center;
}

}