@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'),
       local('Niconne-Regular'),
       url(https://fonts.gstatic.com/s/niconne/v6/Ci0yFRBPDqtg7EHO7VR0Zw.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/niconne/v6/Pt5YCk9yiMzehxqMoOcZoQ.woff) format('woff');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 1.25em;
}

body {
  font-weight: 400;
  line-height: 1.45;
}

p {
  font-size: 1.2em;
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .5em;
}

h1 {
  font-size: 2.074em;
  margin-top: 0;
}

h2 {
  font-size: 1.728em;
  font-weight: bold;
  margin-top: .5rem;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}


small,
.font_small {
  font-size: .833em;
}
