html {
  font-size: 1.25em;
}

body {
  font-weight: 400;
  line-height: 1.45;
}

p {
  font-size: 1.2em;
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .5em;
}

h1 {
  font-size: 2.074em;
  margin-top: 0;
}

h2 {
  font-size: 1.728em;
  font-weight: bold;
  margin-top: .5rem;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}


small,
.font_small {
  font-size: .833em;
}
