@import './typography.scss';


body {
  background:#D3D0CD;
  color:  #432726; //#24251C;
  @media screen and (min-width: 40em) {
    font-size: 28px;
  }
  @media screen and (min-width: 62em) {
    font-size: 30px;
  }
   @media screen and (min-width: 110em) {
    font-size: 32px;
  }
}

 h2 {
    margin-top: .5rem;
    color: #432726;
    font-weight: bold;
    /*text-shadow:
      -1px -1px 0 #432726,
      1px -1px 0 #432726,
      -2px 2px 0 #432726,
      1px 1px 0 #432726;*/
 }

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}