@import '_typography';

$font-color: #432726;
$bg-color: #d3d0cd;

body {
  background: $bg-color;
  color: $font-color;
  font-family: 'Niconne', 'Arial', sans-serif;
  @media screen and (min-width: 40em) {
    font-size: 28px;
  }
  @media screen and (min-width: 66em) {
    font-size: 30px;
  }
  @media screen and (min-width: 110em) {
    font-size: 32px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
