@import './typography.scss';


body {
  font-size: 16px;
  background: white;
  color: #24251C;
  @media screen and (min-width: 62em) {
    //font-size: 26px;
  }
   @media screen and (min-width: 110em) {
    font-size: 32px;
  }
}


.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}